.customPopup button {
    outline: none;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 1px 6px 12px 0px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    transition: 0.2s all ease-in-out;
  }
  .customPopup button:hover {
    background-color: rgb(230, 228, 226);
  }
  .customPopup #popup {
    display: none;
  }
  .customPopup .popup-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(96, 95, 127, 0.7);
    position: absolute;
    top: 0;
    left: 0;
  }
  .customPopup .popup-container2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(96, 95, 127, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  .customPopup .popup {
    background-color: #ffffff;
    padding: 20px 20px;
    width: 22%;
    /* height: 10%; */
    border-radius: 15px;
  }
  .customPopup .close-popup {
    display: flex;
    justify-content: flex-end;
  }
  .customPopup .close-popup a {
    /* background-color: rebeccapurple; */
    color: #020202;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    /* width: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup .btns a{
    /* text-decoration: none; */
    margin: 0 10px;
    /* transition-duration: 2s;
  transition-timing-function: linear; */
  /* border: 0.1px solid black;
  border-radius: 5px; */
  padding: 10px;
  }

  /* .popup a:hover{
    text-decoration: underline;
  } */
  
  .customPopup .popup-btn {
    display: inline-block;
    text-decoration: none;
    border: 2px solid rebeccapurple;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 10px 0px;
    transition: 0.2s all ease-in;
  }
  .customPopup .popup-btn:hover {
    background-color: rebeccapurple;
    color: #fff;
  }
  